<div id="aboutContainer">
    <p>This Project, supported by the Arts and Humanities Research Council (AHRC, ref: 19534), began on May 1, 2005 and
        finished on August 30, 2010. Funded for a period of five years, it was a collaborative enterprise between the
        Universities of Leeds and Leicester, directed by Dr Mary Swan, Professor Elaine Treharne, Dr Orietta Da Rold and
        Dr Jo Story, and Dr Takako Kato was the research associate.</p>

    <p>The Project's objectives were to provide the first full and accurate records of the manuscripts, especially those
        containing literary materials written principally in English from c. 1060 to 1220. This will constitute a
        properly formed and exceptionally valuable scholarly resource for use by the Project and all interested
        researchers.</p>

    <p>The analytical work of the Project will amount to a mapping of the production of this material in terms of place,
        date, scribes and resources, and probable purpose. It will also situate English textual compilation in its full
        cultural context, bridging the traditional periodization of 'Old' and 'Middle' English and bringing to
        prominence a significant corpus of material whose importance for understanding the impact of the Norman Conquest
        and its aftermath has never before been investigated.</p>
</div>