<div id="citeContainer">
    <h1>Copyright and Citation</h1>

    <h2>Copyright</h2>
    <p>© The Production and Use of English Manuscripts 1060 to 1220 </p>

    <p>All Rights Reserved. Unauthorised publication contravenes applicable laws, the editors and the authors assert
    their moral right to be recognised as authors and editors of this e-book. </p>

    <p>First published 2010, last update 2013, School of English, University of Leicester. </p>

    <p>The Production and Use of English Manuscripts 1060 to 1220 is made available publicly, provided this publication
    is acknowledged in every instance. Guidance is given below on how this acknowledgement should be cited. All
    material is made available free of charge for individual and non-commercial use only. All other use is
    prohibited without the express written consent of the editors, please get in touch with the editors. </p>

    <p>The copyright of images belongs to the Libraries and Owners of the manuscripts.</p>

    <h2>Citation and Attribution</h2>
    <p><i>The Production and Use of English Manuscripts 1060 to 1220</i>, edited by Orietta Da Rold, Takako Kato, Mary
        Swan and Elaine Treharne (University of Leicester, 2010; last update 2013), available at
        http://www.le.ac.uk/ee/em1060to1220, ISBN 095323195X</p>

    <h3>For individual pages</h3>
    <p><i>NB: 'The Title of the Page' is given at the top of the main section.</i></p>
    <p>Pages which are authored individually are signed by the author.</p>
    <p class="indent">Author, 'The Title of the Page', in <i>The Production and Use of English Manuscripts 1060 to
        1220</i>, edited by Orietta Da Rold, Takako Kato, Mary Swan and Elaine Treharne (University of Leicester, 2010),
        available at <b>provide url</b>, date of access</p>
    <p>Pages without specific authorship should be attributed to Orietta Da Rold, Takako Kato, Mary Swan and
        Elaine Treharne.</p>
    <p class="indent">Orietta Da Rold, Takako Kato, Mary Swan and Elaine Treharne., 'The Title of the Page', in <i>The
        Production and Use of English Manuscripts 1060 to 1220</i>, edited by Orietta Da Rold, Takako Kato, Mary Swan
        and Elaine Treharne (University of Leicester, 2010), available at <b>provide url</b>, date of access</p>

    <h3>For manuscript descriptions</h3>
    <p><i>NB: For the names of the contributors, see under 'Additional Information; Administration Information' on each
        description page.</i></p>
    <p>Name of the Describer, 'Title: Manuscript Repository and Shelf Mark', in <i>The Production and Use of English
        Manuscripts 1060 to 1220</i>, edited by Orietta Da Rold, Takako Kato, Mary Swan and Elaine Treharne (University
        of Leicester, 2010), available at <b>provide url</b>, date of access.</p>
    <p>For example:<br>
    Orietta Da Rold, 'Homilies and Lives of Saints: Cambridge, University Library, Ii. 1. 33', in <i>The Production and
            Use of English Manuscripts 1060 to 1220</i>, edited by Orietta Da Rold, Takako Kato, Mary Swan and Elaine
        Treharne (University of Leicester, 2010), available at
        <b>CHANGE ME LATER</b>; accessed 11 November 2013</p> <!-- TODO change later -->
</div>