<div id="prefaceContainer">
    <h1>Preface</h1>

    <p>This web site is conceived as an electronic book. In 2005, when we set out on this intellectual journey, we would
        not have imagined that we would be writing a preface to an e-book, since we had simply envisaged our manuscript
        catalogue as an electronic database, with the Project's other research findings published in more traditional
        paper form. The fact that we are able to present a great deal of new research as an integral part of this
        website is a sign of rapidly changing scholarly research methodologies, technologies, output possibilities and
        increased impact potential. Here you will find what we have achieved to date in our Catalogue, together with
        some of our already-published work, and newly commissioned writings, forming a holistic and cogent book on the
        production and use of English manuscripts in the long post-Conquest period.</p>

    <p>From the conception of the project to the final delivery, we aimed to identify, analyse and evaluate all
        manuscripts containing English written in England between 1060 and 1220; to produce an analytical corpus of
        material from late Anglo-Saxon England, through the Norman Conquest and into the high Middle Ages; to
        investigate key questions including the status of written English relative to French and Latin; and to raise
        awareness of agenda informing the production of so many texts in English during this important period.</p>

    <p>Pursuing these aims has allowed us to bring to light a number of important discoveries:
        <ul>
            <li>Hundreds of texts are written in English between 1060 and 1220 right across England. Their extent varies
                from the big homilaries to single annotations in manuscripts. A whole range of kinds of writing is done
                in English: laws, sermons, saints' lives, land charters, medicinal recipes, prayers;</li>
            <li>English is written and used with Anglo-Norman and French, showing a picture of continuity and change, a
                world of linguistic and cultural layers where English, Latin and French, old and new, Anglo-Saxon and
                Anglo-Norman are interleaved.</li>
            <li>We have also discovered that many of the categories traditionally used investigating manuscripts and
                texts are unrealistic and restrictive; for instance the terminology for describing manuscripts and
                scripts; the way we conceive of the manuscript page - many of the most interesting discoveries we have
                made have been in the margins of texts, which contradicts the common idea that marginalia is less
                important than what is in the centre of the page; the ways in which we casually consider scribes, their
                training and their work without real thought to how the scribes were trained, what scriptoria
                (institutional manuscript production centres) consisted of, etc..</li>
        </ul>
    </p>

    <p>In other words, while some of our project work is usefully synthetic, bringing together scholars and their
        research in one place, a great deal of it is potentially revisionary, and we can expect exciting results for
        years to come from our data. Because all of our data is freely available, we hope many researchers will use it
        to the advantage of the field.</p>

    <p>The Cultural Contexts section offers discursive material and contextual information on the research we have
        undertaken. In that section we discuss the raison d'être of the project and the wider implications of the
        findings that have emerged from our work. The Project team have edited this e-book and, along with a team of
        scholars, have contributed essays on a variety of specific issues and wide-ranging topics. We are very grateful
        to these contributors and to every other person whose contributions have been so important to the completion of
        this Project.</p>

    <p><b>Orietta Da Rold, Takako Kato, Mary Swan and Elaine Treharne: the <i>Production and Use of English Manuscripts
        1060 to 1220</i> Project team.</b></p>

</div>
