<div id="teamContainer">
    <h3>Advisory Board</h3>
    <p>Dr William Flynn, Institute for Medieval Studies, University of Leeds <br>
    Professor Tom Hall, Department of English, University of Notre Dame <br>
    Professor Ralph Hanna, Keble College, Oxford <br>
    Professor Emeritus Kevin Kiernan, University of Kentucky <br>
    Professor Ursula Lenker, English Linguistics, Catholic University Eichstt-Ingolstadt <br>
    Professor Bella Millett, English, School of Humanities, University of Southampton <br>
    Professor Andrew Prescott, Humanities Advanced Technology &amp; Information Institute, University of Glasgow <br>
    Professor Mary Richards Emerita, Department of English, University of Delaware <br>
    Professor Jocelyn Wogan-Brown, Fordham University</p>
</div>