<p id="contextContainer">
    <h1>EM in Context</h1>

    <p>The Project set out with a major undertaking; it began with the identification of those manuscripts that contain
        English texts, including annotations, glosses and commentaries, and delivers a catalogue with contextual
        material which is published electronically on-line. The work by the project's team provides scholars with newly
        collected evidence available from the period under consideration; it has also developed new lines of enquiries
        and has participated in the scholarly debate on centres of production, scribes, type of manuscripts and texts,
        codicological and palaeographical features, audience(s) and relationship among languages. In this paper I wish
        to outline why this research is crucial and where the project places itself within this scholarly debate,
        providing a contextualization of the textual culture which produced and used documents and codices in English
        between the eleventh and thirteenth centuries.</p>

    <p>The chronological remit of the project is challenging and thought-provoking. We start our census at circa 1060
        and finish at 1220. There are no cultural or historical reasons for choosing these temporal termini; rather,
        they represent a desire to break away from the accepted chronological boundaries and the acknowledged labels,
        which have resulted in the neglect of manuscripts dated 1060 to1220. During this one hundred and eighty years
        important political, religious and cultural changes took place, permeating English society. It may be useful to
        remind ourselves of these changes before discussing in detail the question of manuscript production and use.</p>

    <p>The historical milestones of the period are well known. In 1060, we are in the eighteenth year of the reign of
        Edward the Confessor; in 1066 William of Normandy defeats Harold, Earl of Wessex, at Hastings. Thus, the link
        between England and the continent, Normandy in particular, becomes explicitly political as well as cultural.
        The reigns of William Rufus (1060-1100; acc. 1087) and Henry I (1068-1135; acc. 1100) follow, and lead to
        another power struggle over the English crown in the second quarter of the twelfth-century. In 1135 Henry I dies
        without a male heir, and leaves the throne to his daughter Matilda, who is married to Geoffrey, count of Anjou.
        However, Stephen, son of Stephen of Blois and Adela, sister of Henry I, claims the English crown before Matilda
        can reach Winchester and becomes king of England and duke of Normandy. The civil war between the supporters of
        the two factions starts soon thereafter and finishes only in 1154 when Henry II (1133-1189), son of Matilda,
        becomes king of England, eventually uniting Normandy, Anjou, Ireland and also Aquitaine, which was acquired
        through his marriage with Eleanor of Aquitaine. Richard (1157-1199) takes up the crown as Richard I at his
        father's death in 1189 and spends most of his reign either crusading or trying to recover his possessions in
        France. John succeeds his brother in 1199 and dies in 1216 leaving the kingdom to his elder son Henry. It is in
        the fourth year of Henry III's reign (1216-1272) that our project ends.</p>

    <p>In this brief outline of the succession to the English crown, it can be seen that a number of important political
        events take place. The Normans conquer England, but then England loses Caen as early as 1204. The political
        battle between the king and his vassals ends provisionally with the promulgation of the Magna Carta in 1215
        and the power struggle between the crown and the church culminate with the assassination of Thomas Becket
        in 1170.</p>

    <p>Because of this sense of political instability, culturally there is much to celebrate. The majestic
        twelfth-century Romanesque style is evinced in architecture, art and manuscript production; by the end of the
        twelfth century the gothic cathedrals started to play an important role in architecture, book production and
        medieval culture in general across Europe. This sense of renovation is, of course, an intrinsic aspect of
        medieval culture, which in England arguably started with the Benedictine reform and continued all the way
        through the Norman and the Plantagenet periods.</p>

    <p>It is in this context that the Project is sited. Those manuscripts containing English produced between 1060 and
        1220 are undoubtedly worthy of sustained study in their own right; they are culturally and intellectually
        significant, particularly because of what they say about the longevity and status of the vernacular in the
        period after the Norman invasion. However, they also have to be studied within the framework of a multilingual
        and multicultural society, which England has become by the beginning of the thirteenth century. A significant
        illustration of this interchange is the role played by women as cultural ambassadors (Groag 1988). The royal
        patronage of Adela of Blois, Edith/Matilda (Henry I's first wife) and Adeliza of Louvain (Henry I's second
        wife), the Empress Matilda, and Eleanor of Aquitaine contributes to the literary culture within and beyond the
        English borders. A reassessment of women's direct or indirect influence on the production and use of manuscripts
        has to be an important part of developing our understanding of written culture in this period.</p>

    <p>The historiography and the literature of the period emphasise the differences between pre- and post-Conquest
        England, as a way of describing the discontinuity of the Anglo-Saxon past to the innovation of the Anglo-Norman
        future. Our project certainly does not dispute that the Norman Conquest had a huge impact on the English
        cultural and political establishment; however, at the same time it should not be used to mask the continuation
        of the Anglo-Saxon past with its own vibrant interaction with Europe. We have to move beyond the paradigm that
        England was brought into the Europe by the Conquest. Artificial labels and historical events are often used to
        divide and compartmentalize ideas, and they are not helpful to convey concepts across boundaries. Nevertheless,
        they can be useful as they can be universally recognised and thus allow scholars to exchange models and theories
        assuming a common ground. It is with this assumption in mind that I am using labels such as pre-Conquest or
        post-Conquest in this paper.</p>

    <p>The quantity of scholarly work on the manuscripts that fall within the temporal and geographical boundaries of
        our project varies. It reveals a variety of research interests which interrogate and scrutinize the physical
        artefact and the textual culture which generated the artefact itself. For the sake of clarity in the overview
        of research and research questions which follows, it may be useful to cluster topics thematically, starting with
        a discussion on the centres of production, scribes, material and textual evidence and finally the coexistence
        and status of the linguistic environments.</p>

    <p>The main centres for medieval manuscript production in Anglo-Saxon England were religious institutions and we do
        have information about some of these institutions and their books. Lindisfarne and Wearmouth-Jarrow are early
        examples of the seventh and eight centuries. With the Benedictine reform of the tenth and eleventh century and
        the new emphasis on learning, new monasteries were founded and old ones reformed. Abingdon, Canterbury,
        Glastonbury, Ramsey, Sherborne, Winchester, Worcester, Westbury-on-Trym and York, for instance, are all
        religious institutions associated with production of scholarship in those years. Cathedrals, monasteries and
        abbeys continue their tradition as learning-hubs for the religious community they serve also between 1060 and
        1220. The Benedictine order served the majority of pre- and post-Conquest communities, including cathedrals,
        but secular clergy were also represented. Augustinian houses of canons were established, and the Cistercians
        settled in England at the beginning of twelfth century. All these orders at varying times in the pre- and
        post-Conquest period, Benedictine, Augustinian and Cistercian, contributed to the production of books and their
        libraries and have recently been studied in the British Academy series on Medieval Libraries. In Ker's English
        Manuscripts after the Norman Conquest, there is evidence of collections of books between 1060 and 1170 in
        Abingdon, Bath, Buildwas, Bury St Edmunds, Christ Church: Canterbury, St Albans, St Augustine's: Canterbury,
        Chichester, Cirencester, Chicksand, Dover, Durham, Elstow, Evesham, Eynsham, Exeter, Ford, Glastonbury,
        Gloucester, Hereford, Hexham, Holmcultram, Lanthony, Lessness, Lincoln, Meaux, Missenden, Newstead, Norwich,
        Northampton, St Osyth, St Paul's London, Peterborough, Reading, Roche, Rochester, Waltham, Warden, Winchcombe,
        Worcester and York.</p>

    <p>Book collections do not necessarily imply actual book production, but they constitute an important starting point
        for investigating the creation of libraries and reading preferences. Much work needs to be done on these aspects
        of manuscript output, but just a glance at Helmut Gneuss' list illustrates how manuscript origin and provenance
        coincide only relatively rarely. The intellectual curiosity, which the survival of books in collections
        suggests, forms the basis for treasuring written texts otherwise not easily available. Thus, it provokes the
        impetus for collecting knowledge and copying books. Copying in situ was the normal practice; however, scholars
        are still debating whether each institution could have had its own organised scriptorium. Recent scholarship is,
        in fact, cautious in suggesting such a provision outside main centres of productions. A scriptorium implies a
        high degree of standardization, which reflects on the homogeneity of the manuscripts being produced. The label
        scriptorium can then be attributed to an institution where more than one scribe works together in a
        collaborative fashion. Distinctions however are not as crystal clear as one may think and only further study on
        each individual house will bring further evidence to bear on existing documentation and scholarly opinions,
        which I will now summarise below.</p>

    <p>Scholarship on the scriptoria of Christ Church and St. Augustine's in Canterbury, Rochester and Worcester is
        extensive and has documented book production in these scriptoria both in the pre- and post-Conquest period, but
        there is a predominantly post-Conquest activity at Bury St Edmunds and Salisbury. There is sporadic evidence
        (in a temporal sense) of what Thomson defines as 'scriptorial activity' in Gloucester and St Albans, but little
        supporting evidence at Hereford. Mynors, Thomson and Gullick explain: 'The palaeographical connections between
        some of ... [the] twelfth-century books raises the question of whether the Cathedral had in any sense a
        "scriptorium" at that time'. 'On the other hand', they observe, 'there are a number of records of professional
        scribes, painters ... and parchmenters working in Hereford during the twelfth and thirteenth centuries'. This
        may suggest that the Cathedral could hire local expertise to fulfil its demands of writing documents if not to
        copy books. Books in Lincoln were also possibly made locally. Even though it is known that manuscripts were
        written there, as Thomson noted, 'To what extent one can speak of a "scriptorium" operating continuously over a
        period of time is not easy to say'. Nevertheless, there is evidence of a group of books during the Bishoprics of
        Alexander and Robert de Chesney, which displays uniformity and high quality production. This raises the question
        of whether the bishops, and Robert in particular, were, in Thomson's words, 'dependent upon a single scriptorium
        or atelier'. A similar debate is on-going regarding Exeter cathedral library, and we should also add to this
        list the studies published on the books produced in Buildwas, Durham, Glastonbury, Malmesbury, Nunnaminster,
        Reading, Rievaulx and Waverly. Records of explicit, if not always generous, revenue to produce, repair and
        correct books are available from Worcester and Winchester, for instance, and there are similar records at
        Abingdon, Chicester, Cirencester, Ely, Elstow, Evesham, Ramsey, Sempringham, Whitby and other places already
        mentioned. Furthermore, manuscripts are also copied at Barking, Bath, Bedwyn, Bodmin, Chester-le-Street,
        'Harewood', Hereford, Lichfield, St Paul's London, Peterborough, Sherborne, Thorney, Winchcombe, Winchester,
        Woodyates: Dorset and York.</p>

    <p>If we were to map all these places of production and the religious institutions to which they belong we would
        realise that most of the English counties are represented, and that there was keen interest in book production
        across regular and secular houses and orders, serving both male and female communities. This picture can only
        but be representative of evidence to hand and can naturally change and fluctuate with the advancement of
        research and the taking of a single snapshot within a given period of time. Thus, the project will interpret
        this picture, bringing new evidence about manuscripts containing English to bear. A systematic investigation of
        the production and use of this type of manuscripts in this period may, in fact, change our way of talking about
        books from 1060 to 1220.</p>

    <p>'Who wrote these books and how were they disseminated?' Ker asked, answering himself with: 'The questions are
        worth putting, but we have at present no satisfactory answers'. Our answer today might be similar to the one he
        gave in 1960, but a review of recently published research reveals that one can make some general comments on the
        type of copyists who could have prepared books. From the outset during the period 1060 to 1220, there were two
        types of scribes: scriptores and claustrales. In Abingdon, Ker reminds us, 'Abbot Faricius [1100-1117] employed
        six scriptores to copy patristic manuscripts, leaving to the claustrales the task of copying service-books'.
        These two categories seem to reflect the difference between scribes who would offer their service to the
        institution, perhaps vagantes who go from one place to the other, and cloistered members who were nevertheless
        involved in the writing activity at their institution as well. Gullick describes in detail the type of job these
        scriptores were employed to do for the precentor, including their remuneration. He calls them 'professional
        scribes' and defines this profession as: 'scribes who were not members of enclosed communities but worked
        writing books for such communities. They are presumably paid for their work or time in either money, kind or
        both'. Professional scribes are employed both in female and male communities and there is evidence of revenue
        being set aside for such a practice at Abingdon, Glastonbury, Evesham, Worcester, St. Albans, Durham, Rochester,
        Cirencester, Witham, Colchester and finally the abbess of Elstow employed Ralph Fitz Ralph, perhaps working in
        Bedford, to write one of her manuscripts. Thomson has also argued that in both Hereford and Lincoln it is likely
        that the Cathedrals employed professional scribes available locally, as noted above. Only a handful of these
        scriptores have a name and evidence of their existence is mostly derived from records datable to just before our
        period. Wulfgeat, first half of the eleventh century, was employed in Worcester, the famous Alexis Master and
        his team were probably employed by abbot Geoffrey at St. Albans during the mid-eleventh century, Ralph of
        Pullham worked at Cirencester during the second half of the eleventh century and, as we have seen, Ralph Fitz
        Ralph, pupil of Robert of Bedford, was active at the end of the twelfth century. It is important to notice that
        all these records define this type of scribe as scriptor, and that there seems to be less reference to the role
        of the claustrales. Additional general information on the other active scribes from the eleventh to the
        thirteenth centuries is available. The famous Eadwine was active at Christ Church, Canterbury in the middle of
        the twelfth century and Ker's hands l and r from this scriptorium are also found in other eleventh- and
        twelfth-century manuscripts. Hands m and n worked in Exeter during the eleventh century, hand s in Peterborough
        in the first half of the twelfth century and hand t, usually identified as the Textus Roffensis scribe, was
        active in Rochester during the first half of the twelfth century. In Winchester, Ælsinus writes between 1023 and
        1035. In Worcester, Hemming is active during the eleventh century, Coleman is recorded before 1113. Hand o is
        recognisable in documents of the second half of the eleventh century, as well as hands p and s, whilst hand u,
        who is usually named tremulous hand after his rather shaky script, is datable to the beginning of the thirteenth
        century. These hands are usually associated with scribes copying, annotating or correcting in English, as well
        as in Latin, and the Textus Roffensis scribe is an obvious example. Female scribes play an important role in the
        copying of manuscripts in these years, inasmuch as they usually provide books for their own community. We know
        less about their work and where they operate compared with the evidence from their male colleagues, but
        scriptrix do exist.</p>

    <p>England between 1060 and 1220 is becoming a multilingual and multicultural country and Norman scribes and
        illuminators have a central role in the book production of those years. Recent studies have been trying to
        understand their impact on manuscript techniques in Britain across different writing environments. It is in
        this spirit that scholars working on this period, are now starting to think about the material available and
        how to collect and analyse it. Going beyond our preconceived ideas about what we can find is the only way to
        begin a fresh investigation and consider the twelfth century in a new light. Scribes were often working with
        more than one language and only by mapping this phenomenon in its own right will we be able to start to
        understand how these languages coexist within diverse writing environments.</p>

    <p>Gameson's study of the manuscripts of early Norman England, for instance, not only collects the available
        evidence on Norman manuscripts produced in Britain, but also stresses the significance of such productions.
        This research focuses mainly on manuscripts which contain Latin texts, but Gameson's also analyses generically
        the type of text that scribes in the main scriptoria were copying, thus contributing to an understanding of
        readership in individual languages in twelfth-century England. French textual culture in England, which is
        usually labelled Anglo-Norman, has also attracted a number of studies. Dean's guide to Anglo-Norman texts and
        manuscripts is a very useful resource which completes the work by Legge and others. A new project has been set
        up to identify twelfth-century manuscripts containing French disseminated all over Europe, which is a
        continuation of the work by Woledge, Short and Nixon. Together with 'The French of England' project, such work
        will help to re-assemble the complex multilingual jigsaw that the Britain is between 1060 and 1220, which as yet
        still remains incomplete. One important piece of this jigsaw has still to be discovered and inserted in its
        place: manuscripts which contain English have never been systematically collected and analysed. Studies have
        appeared which focus on the quantification and description of the Anglo-Saxon heritage and may now be useful to
        review what we can infer from these works, which are closely related to our project.</p>

    <p>Ker's hugely important scholarship has dominated the entire period and indeed his pioneering work on the
        Catalogue of Manuscripts Containing Anglo-Saxon ought to be the starting point for any investigation. Just
        turning the pages of his catalogue and the published continuations of it reveals texts in English spanning the
        tenth, eleventh, twelfth and beginning of the thirteenth century. Additional catalogues have made this point
        clearer and their temporal termini come from opposite ends of the medieval period. Gneuss's studies on
        Anglo-Saxon manuscripts to the end of the eleventh century, Lapidge's work on booklists and libraries of
        Anglo-Saxon England, Pelteret's Catalogue of English Post-Conquest Vernacular Documents, Laing's Catalogue of
        Sources for a Linguistic Atlas of Early Medieval English, Budny's Insular, Anglo-Saxon, and Early Anglo-Norman
        Manuscript Art at Corpus Christi College, Cambridge: An Illustrated Catalogue, and the projects Anglo-Saxon
        Manuscripts in Microfiche Facsimile and C11 Database: An Inventory of Script and Spellings in Eleventh-Century
        English all contribute to what we know about English manuscripts between 1060 and 1220. However, this
        information is dispersed and difficult to collocate in relationship to the other parts of the jigsaw of these
        hundred and sixty years. We can never have a clear picture of the production and use of English manuscripts
        unless they are methodically assembled and scrutinised in their own right. We have published in our e-book
        hundreds of manuscripts. They all contain English texts, which may appear on the layout of the page in a variety
        of positions: centrally, in the left, right, bottom or upper margin and also between lines. The function of
        these texts varies, and we might categorise them as main texts, glosses or annotations. Their content is also
        diverse and consists of prose and poetry from the homiletic and hagiographic works by Ælfric and other anonymous
        authors, copies of the Gospels, the Rule of St Benedict and Rule of Chrodegang, Laws, cartularies, chronicles,
        prognostications, dialogue literature, moral writing (the Poema Morale), medical texts and herbaria, and
        Psalters. The degree of scholarly study, textual analysis and examination of the single manuscripts which
        contain them also differs.</p>

    <p>We know that some of these texts were copied at Abingdon, Barking, Bath, Bodmin, Bury St Edmunds, Christ Church,
        Canterbury, St Augustine's, Canterbury, Durham, Ely, Exeter, St Paul's London, Peterborough, Rochester,
        Salisbury, Sherborne, Thorney, Winchester, Worcester and York. This preliminary evidence not only demonstrates
        that scribes copied, glossed and annotated manuscripts in English, but it also emphasises that a number of
        houses kept on this tradition in the years and centuries after the Norman conquest.</p>

    <p>We have already surveyed above what we know of those scribes. It may be worth highlighting again here that some
        of them could master at least two languages: English and Latin. As Thomson commented: 'Between 1095 and 1113 the
        monk Coleman wrote the Life of Bishop Wulfstan II in Old English; he annotated a number of books in both Latin
        and English ... Yet other books with the text in Old English were glossed by Worcester hands dating from the
        late eleventh century to the early thirteenth century'. Furthermore, French is present in some of these
        manuscripts is not uncommon, adding an additional linguistic layer to the complicated web of the textual
        reception in this period. Cambridge University Library, Ii. 1. 33 is a case in point, demonstrating the cultural
        intersections of twelfth-century England.</p>

    <p>The question of the audience of these texts becomes crucial. Who would be interested in writing, annotating,
        glossing and reading texts in English, Latin and French? Scholars have suggested English-speaking monastic and
        secular producers and audiences, including nuns. However, as Treharne has pointed out for some homiletic texts:
        'The precise environment in which these Old English texts were read and used in the twelfth and thirteenth
        centuries is difficult to determine'. An additional consideration which needs to be borne in mind is to the
        function of secular and monastic schools. Those professional scribes mentioned above and other monastic and
        secular personnel had to be educated; had to learn the alphabet and how to read and write, and the question
        therefore is 'could any of these manuscripts containing multilingual texts be used in these tasks?' An answer
        is not easy to find and only further work on the manuscript tradition of this period will give some more
        clues.</p>

    <p>The material context of the EM Project still needs to be investigated further, but a full re-contextualisation
        and integration of the English material with its historical continuum starts with this e-book. The English texts
        these manuscripts transmit strongly suggest a continuation and an interest which is very much alive beyond the
        Norman Conquest, and in these pages there is much evidence of this, as well as promoting dialogue and a new
        discourse which we hope will lead to the reinstatement of these English texts in their rightful place within the
        canon of medieval literature and culture.</p>

    <p><b>Orietta Da Rold, Leicester</b></p>

    <h2>Notes</h2>

    <p>An earlier version of this paper was published as Da Rold, O. 'English Manuscripts 1060 to 1220 and the Making of
        a Re-Source', Literature Compass, 3 (2006), it is reproduced here with permission.</p>

    <h2>Select Bibliography</h2>

    <p>Beach, Alison I., Women as Scribes: Book Production and Monastic Reform in Twelfth-century Bavaria, Cambridge Studies in Palaeography and Codicology, 10 (Cambridge, UK and New York, NY: Cambridge University Press, 2004)</p>

    <p>Bell, David N., The Libraries of the Cistercians, Gilbertines and Premonstratensians, Corpus of British Medieval Library Catalogues, 3 (London: The British Library in association with the British Academy, 1992)</p>

    <p>---, What Nuns Read: Books and Libraries in Medieval English Nunneries, Cistercian Studies Series, 158 (Kalamazoo, Mich: Cistercian Publications, 1995)</p>

    <p>Blockley, Mary, 'Addenda and Corrigenda to N. R. Ker's 'A Supplementary Catalogue of Manuscripts Containing Anglo-Saxon'', Notes and Queries, 227 (1982), 1-3</p>

    <p>Brett, M., 'Gundulf and the Cathedral Communities of Canterbury and Rochester', in Canterbury and the Norman Conquest: Churches, Saints and Scholars, 1066-1109, ed. by Richard Eales and Richard Sharpe (Rio Grande, OH: Hambledon Press, 1995), pp. 15-25</p>

    <p>Brown, Michelle P., 'Paris, Bibliotheque Nationale, Lat 10861 and the Scriptorium of Christ Church, Canterbury', Anglo-Norman England, 15 (1986), 119-37</p>

    <p>Budny, Mildred, Insular, Anglo-Saxon, and Early Anglo-Norman Manuscript Art at Corpus Christi College, Cambridge: An Illustrated Catalogue, 2 vols (Kalamazoo, MI: Medieval Institute Publications Western Michigan University in Association with Research Group on Manuscript Evidence the Parker Library Corpus Christi College Cambridge, 1997), vol. 1</p>

    <p>Calin, William C., The French Tradition and the Literature of Medieval England (Toronto and London: University of Toronto Press, 1994)</p>

    <p>Cannon, Christopher, The Grounds of English Literature (Oxford: Oxford University Press, 2004)</p>

    <p>Carley, James P., 'John Leland and the Contents of English Pre-dissolution Libraries: Glastonbury Abbey', Scriptorium, 40 (1986), 107-20</p>

    <p>Cavallo, G., 'Dallo Scriptorium Senza Biblioteca alla Biblioteca Senza Scriptorium', in Dall’eremo al Cenobio. La Civiltà Monastica in Italia Dalle Origini All’età di Dante, ed. by G. Pugliese (Milan: Libri Scheiwiller, 1987), pp. 331-421</p>

    <p>Chaplais, P., 'The Authenticity of the Royal Anglo-Saxon Diplomas of Exeter', in Essays in Medieval Diplomacy and Administration, ed. by P. Chaplais (London: Hambledon Press, 1981), pp. 1-34</p>

    <p>Coates, Alan, English Medieval Books: The Reading Abbey Collections from Foundation to Dispersal, Oxford Historical Monographs (New York: Clarendon Press, 1998)</p>

    <p>Conner, Patrick W., Anglo-Saxon Exeter: A Tenth-Century Cultural History (Woodbridge: Boydell, 1993)</p>

    <p>Cownie, Emma, Religious Patronage in Anglo-Norman England, 1066-1135, Royal Historical Society Studies in History (Woodbridge: Boydell Press, 1998)</p>

    <p>Crosby, Everett U., Bishop and Chapter in Twelfth-Century England: A Study of the Mensa Episcopalis, Cambridge Studies in Medieval Life and Thought, 4.23 (Cambridge: Cambridge University Press, 1994)</p>

    <p>Dean, Ruth J., and Boulton Maureen B. M., Anglo-Norman Literature: A Guide to Texts and Manuscripts, Anglo-Norman Text Society Occasional Publications Series, 3 (London: Anglo-Norman Text Society, 1999)</p>

    <p>Dodwell, C. R. The Canterbury School of Illumination, 1066-1200 (Cambridge: University Press, 1954)</p>

    <p>Eales, Richard, and Richard Sharpe, eds, Canterbury and the Norman Conquest : Churches, Saints and Scholars, 1066-1109 (Rio Grande, OH: Hambledon Press, 1995)</p>

    <p>Franzen, Christine, The Tremulous Hand of Worcester: A Study of Old English in the Thirteenth Century (Oxford: Clarendon Press, 1991)</p>

    <p>---, Anglo-Saxon Manuscripts in Microfiche Facsimile, Medieval & Renaissance Texts & Renaissance Studies (Tempe, AZ: Arizona Center for Medieval and Renaissance Studies, 1998), vol. 6: Worcester Manuscripts</p>

    <p>Gameson, Richard, 'Book Production and Decoration at Worcester in the Tenth and Eleventh Centuries', in St Oswald of Worcester: His life and Influence, ed. by Nicholas Brooks and Catherine Cubitt (London: Leicester University Press, 1996), pp. 194-243</p>

    <p>---, The Manuscripts of Early Norman England (c. 1066-1130) (Oxford: Oxford University Press for the British Academy, 1999)</p>

    <p>---, 'Manuscrits Normands à Exeter aux xie et xiie Siècle', in Manuscrits et Enluminures dans le Monde Normand: Xe-XVe Siècle, ed. by Pierre Bouet and Monique Dosdat (Caen: Presses Universitaires de Caen, 1999), pp. 107-27</p>

    <p>---, 'The Origin of the Exeter Book of Old English Poetry', Anglo-Saxon England, 25 (1996), 135-85</p>

    <p>---, 'St Wulfstan, the Library of Worcester, and the Spirituality of the Medieval Book', in St. Wulfstan and his World, ed. by Julia Barrow and Nicholas Brooks (Aldershot and Burlington, VT: Ashgate, 2005)</p>

    <p>Geddes, J., The St Albans Psalter: A Book for Christina of Markyate (London: The British Library, 2005)</p>

    <p>Gem, Richard, and Heritage English, English Heritage book of St Augustine's Abbey, Canterbury (London: B.T. Batsford/English Heritage, 1997)</p>

    <p>Gibson, Margaret T., T. A. Heslop, and Richard William Pfaff, eds, The Eadwine Psalter: Text, Image, and Monastic Culture in Twelfth-Century Canterbury, Publications of the Modern Humanities Research Association, 14 (London, University Park: Modern Humanities Research Association, Pennsylvania State University Press, 1992)</p>

    <p>Gneuss, Helmut, Handlist of Anglo-Saxon Manuscripts: A List of Manuscripts and Manuscript Fragments Written or Owned in England up to 1100 (Tempe, AZ: Arizona Center for Medieval and Renaissance Studies, 2001)</p>

    <p>---, 'A Preliminary List of Manuscripts Written or Owned in England up to 1100', Anglo-Saxon England, 9 (1981), 1-60</p>

    <p>g Bell, Susan, 'Medieval Women Book Owners: Arbiters of Lay Piety and Ambassadors of Culture', in Women and Power in the Middle Ages, ed. by Mary Carpenter Erler and Maryanne Kowaleski (Athens, Ga.: University of Georgia Press, 1988), pp. 149-87</p>
    <p>Gullick, Michael, 'Circulation des Copistes et des Manuscripts vers l'Angleterre aux xie et xiie Siècle', in Manuscrits et Enluminures dans le Monde Normand: Xe-XVe Siècle, ed. by Pierre Bouet and Monique Dosdat (Caen: Presses Universitaires de Caen, 1999), pp. 83-93</p>

    <p>---, 'Professional Scribes in Eleventh and Twelfth Century Scribes', English Manuscript Studies, 7 (1998), 7-24</p>

    <p>---, 'The Scribe of the Carilef Bibli: A New Look at some Late Eleventh-century Durham Cathedral Library Manuscripts', in Medieval Book Production: Assessing the Evidence: Proceedings of the Second Conference of the Seminar in the History of the Book to 1500, Oxford, July 1988, ed. by Linda L. Brownrigg (Los Altos Hills, CA: Anderson-Lovelace, 1990), pp. 61-83</p>

    <p>Hill, Joyce, 'The Benedictine Reform and Beyond', in A Companion to Anglo-Saxon Literature, ed. by Phillip Pulsiano and Elaine M. Treharne (Oxford: Blackwell, 2001), pp. 151-69</p>

    <p>Ireland, Norma Olin, Index to Women of the World from Ancient to Modern Times: Biographies and Portraits (Westwood, MA: Faxon, 1970)</p>

    <p>Irvine, Susan, 'The Compilation and Use of Manuscripts containing Old English in the Twelfth Century', in Rewriting Old English in the Twelfth Century, ed. by Mary Swan and Elaine M. Treharne (Cambridge: Cambridge University Press, 2000), pp. 55-60</p>

    <p>Jaeger, C. Stephen, The Envy of Angels: Cathedral Schools and Social Ideas in Medieval Europe, 950-1200, Middle Ages Series (Philadelphia: University of Pennsylvania Press, 1994)</p>

    <p>Kauffman, C. M., Romanesque Manuscripts 1066-1190 (London: Harvey Miller, 1975), vol. 3</p>

    <p>Ker, N. R., 'Another Old English Note Signed 'Coleman'', Medium Aevum, 56 (1949), 78-82</p>

    <p>---, 'Books at St Paul's Cathedral before 1313', in Studies in London History presented to Philip Edmund Jones, ed. by A. Hollaender and W. Kellaway (London, 1969), pp. 41-72</p>

    <p>---, Catalogue of Manuscripts Containing Anglo-Saxon (Oxford: Clarendon Press, 1957; repr. 1990)</p>

    <p>---, 'The Correction of Mistakes in Twelfth-century Manuscripts, Illustrated from Winchcombe Books', in Manuscripts at Oxford: An Exhibition in Memory of Richard William Hunt (1908-1979), ed. by Albinia Catherine De la Mare and B. C. Barker-Benfield (Oxford: Bodleian Library, 1980), pp. 31-32</p>

    <p>---, 'The Date of the "Tremulous" Worcester Hand', Leeds Studies in English, 6 (1937), 28-29</p>

    <p>---, English Manuscripts in the Century After the Norman Conquest, The Lyell Lectures, 1952-53 (Oxford: Clarendon Press, 1960)</p>

    <p>---, 'Medieval Manuscripts from Norwich Cathedral Priory', Transaction of Cambridge Bibliographical Society, 1 (1949-53), 1-28</p>

    <p>---, 'Patrick Young's Catalogue of the Manuscripts of Lichfield Cathedral', in Books, Collectors and Libraries: Studies in the Medieval Heritage, ed. by Andrew G. Watson (London; Ronceverte, W. Va.: Hambledon Press, 1985), pp. 273-91</p>

    <p>---, 'A Supplementary Catalogue of Manuscripts Containing Anglo-Saxon', Anglo-Saxon England, 5 (1976), 121-31</p>

    <p>Knowles, David, and R. Neville Hadcock, Medieval Religious Houses: England and Wales (London: Longman, 1971)</p>

    <p>Laing, Margaret, Catalogue of Sources for a Linguistic Atlas of Early Medieval English (Woodbridge: Brewer, 1993)</p>

    <p>Lapidge, M, 'Surviving Booklists from Anglo-Saxon England', in Learning and Literature in Anglo-Saxon England, ed. by Michael Lapidge and Helmut Gneuss (Cambridge: Cambridge University Press, 1985), pp. 33-89</p>

    <p>---, The Anglo-Saxon Library (Oxford: Oxford University Press, 2006)</p>

    <p>Legge, Dominica, Anglo-Norman in the Cloisters: The Influence of the Orders Upon Anglo-Norman Literature (Edinburgh: University Press, 1950)</p>

    <p>---, Anglo-Norman Literature and its Background (Oxford: Clarendon Press, 1963)</p>

    <p>Lepine, David, A Brotherhood of Canons Serving God: English Secular Cathedrals in the Later Middle Ages, Studies in the History of Medieval Religion, 8 (Woodbridge and Rochester, NY: Boydell Press, 1995)</p>

    <p>Lowe, Katie, 'The Anglo-Saxon Contents of a Lost Register from Bury St Edmunds', Anglia, 121 (2003), 515-52</p>

    <p>---, 'S 507 and the Abbey of Bury St Edmunds: Manuscript Preservation and Transmission in the Middle Ages', in Care and Conservation of Manuscripts, ed. by G. Fellows-Jensen and P. Springborg, 6 (Copenhagen: The Royal Library, 2002), pp. 85-105</p>

    <p>McCash, June Hall, The Cultural Patronage of Medieval Women (Athens, GA and London: University of Georgia Press, 1996)</p>

    <p>McIntyre, E. A., 'Early-Twelfth-Century Worcester Cathedral Priory, with Special Reference to the Manuscripts Written There' (unpublished doctoral dissertation, University of Oxford, 1978)</p>

    <p>McLachlan, Elizabeth Parker, 'The Scriptorium of Bury St. Edmunds in the Third and Fourth Decades of the Twelfth Century: Books in Three Related Hands and their Decoration', Medieval Studies, 40 (1978), 328-48</p>

    <p>---, The Scriptorium of Bury St. Edmunds in the Twelfth Century (New York and London: Garland, 1986)</p>

    <p>Morgan, Nigel J., Early Gothic Manuscripts 1190-1250, A Survey of Manuscripts Illuminated in the British Isles (London: H. Miller and Oxford and New York: Oxford University Press, 1982), vol. 4</p>

    <p>Mynors, R. A. B., Durham Cathedral Manuscripts to the End of the Twelfth Century (Oxford: Oxford University Press, 1939)</p>

    <p>---, Rodney M. Thomson, and Michael Gullick, Catalogue of the Manuscripts of Hereford Cathedral Library (Cambridge: Brewer, 1993)</p>

    <p>Nixon, Terry, 'The Role of Audience in the Development of French Vernacular Literature in the 12th and early 13th Century' (unpublished doctoral thesis, University of California, Los Angeles, 1989)</p>

    <p>O'Keeffe, Tadhg, Romanesque Ireland: Architecture, Sculpture and Ideology in the Twelfth Century (Dublin: Four Courts Press, 2003)</p>

    <p>Panofsky, Erwin, Gothic Architecture and Scholasticism, A Meridian book (New York and London: New American Library, 1976)</p>

    <p>---, Renaissance and Renascences in Western art, Figura, 10 (Stockholm: Almqvist & Wiksell, 1965)</p>

    <p>Parker, E., 'The Scriptorium at Bury St Edmund in the 12th Century' (unpublished doctoral thesis, University of London, 1965)</p>

    <p>Parsons, John Carmi, 'Of Queens, Courts, and Books: Reflections on Literary Patronage of Thirteenth-Century Plantagenet Queens', in The Cultural Patronage of Medieval Women, ed. by June Hall McCash (Athens, GA and London: University of Georgia Press, 1996), pp. 175-201</p>

    <p>Pelteret, David A., Slavery in Early Mediaeval England, Studies in Early Mediaeval England, 7 (Woodbridge: Boydell, 1995)</p>

    <p>Preston, Jean F., 'Mixed Blessing: A Twelfth-Century Manuscript from Waverley', in Of the Making of Books: Medieval Manuscripts, their Scribes and Readers: Essays presented to M.B. Parkes, ed. by Pamela Robinson and Rivkah Zim (Aldershot: Ashgate and Brookfield, VT: Scolar Press, 1997), pp. 49-63</p>

    <p>Richards, M. P., 'A Decorated Vulgate Set from Twelfth-century Rochester', Journal of the Walters Art Gallery, 39 (1981), 59-67</p>

    <p>---, 'Innovations in Ælfrician Homiletic Manuscripts at Rochester', Annuale Medievale, 19 (1979), 13-26</p>

    <p>---, Texts and their Traditions in the Medieval Library of Rochester Cathedral Priory, Transactions of the American Philosophical Society, 78:3 (Philadelphia: American Philosophical Society, 1988)</p>

    <p>Rigg, A. G., A History of Anglo-Latin Literature, 1066-1422 (Cambridge: Cambridge University Press, 1992)</p>

    <p>Robinson, P. R., 'A Twelfth-Century Scriptrix from Nunnaminster', in Of the Making of Books: Medieval Manuscripts, their Scribes and Readers: Essays presented to M.B. Parkes, ed. by Pamela Robinson and Rivkah Zim ((Aldershot, England: Ashgate and Brookfield, VT: Scolar Press, 1997), pp. 73-93</p>

    <p>Rollason, David, Margaret Harvey, and Michael Prestwich, eds, Anglo-Norman Durham, 1093-1193 (Woodbridge: Boydell, 1994)</p>

    <p>Rouse-Troup, F, 'Exeter Manumissions and Quittances of the Eleventh and Twelfth Centuries', Devonshire Association Transactions, 64 (1932)</p>

    <p>Sauer, Hans, 'Knowledge of Old English in the Middle English Period?', in Language History and Linguistic Modelling: A Festschrift for Jacek Fisiak on his 60th Birthday, ed. by Raymond Hickey and Stanislaw Puppel (Berlin, 1997), pp. 791-814</p>

    <p>Schipper, W., 'A Composite Old English Homilary from Ely: Cambridge University Library MS Ii. 1.33', Transaction of Cambridge Bibliographical Society, 8 (1983), 285-98</p>

    <p>Seth, Lerer, 'Old English and its Afterlife', in The Cambridge History of Medieval English Literature: Writing in Britain, 1066-1547, ed. by David Wallace (Cambridge and New York: Cambridge University Press, 1999), pp. 7-34</p>

    <p>Sharpe, R., and others, English Benedictine Libraries: The Shorter Catalogues, Corpus of British Medieval Library Catalogues Series (London: The British Library in Association with The British Academy, 1996), vol. 4</p>

    <p>Sheppard, J. M., The Buildwas Books: Book Production, Acquisition and Use at an English Cistercian Monastery, 1165-c.1400 (Oxford: Oxford Bibliographical Society and Bodleian Library, 1997)</p>

    <p>Story, Joanna, Carolingian Connections: Anglo-Saxon England & Carolingian Francia, c. 750-c. 870, Studies in Early Medieval Britain (Aldershot: Ashgate, 2003)</p>

    <p>Swan, Mary, 'Imagining a Readership for Post-Conquest Old English Manuscripts', in Imagining the Book, ed. by Stephen Kelly and John J. Thompson (Turnhout: Brepols, 2006), pp. 145-57</p>

    <p>---, 'Lambeth Palace 487 Item 10 and Reading for the Ear', in Recovering Reading: Reception Histories and Medieval Texts, ed. by Stephen Kelly (forthcoming)</p>

    <p>---, 'Mobile Libraries: Old English Manuscript Production in Worcester and the West Midlands, 1090-1215', in Essays in Manuscript Geography: Vernacular Manuscripts of the English West Midlands from the Conquest to the Sixteenth Century, ed. by Wendy Scase (Turnhout: Brepols, 2007), pp. 29-42</p>

    <p>---, 'Old English Textual Activity in the Reign of Henry II', in Writers of the Reign of Henry II, ed. by Ruth Kennedy and Simon Meecham-Jones (London: Palgrave, 2006)</p>

    <p>---, 'Preaching Past the Conquest: Lambeth Palace 487 and Cotton Vespasian A. XXII', in The Old English Homily: Precedent, Practice, and Appropriation, ed. by Aaron J. Kleist (Turnhout: Brepols, 2007), pp. 403-23</p>

    <p>---, and Elaine M. Treharne, eds, Rewriting Old English in the Twelfth Century, Cambridge Studies in Anglo-Saxon England, 30 (Cambridge: Cambridge University Press, 2000)</p>

    <p>Taylor, Jane H. M., and Lesley Smith, eds, Women and the Book: Assessing the Visual Evidence (London: The British Library, 1997)</p>

    <p>Thomson, Rodney M., 'Books and Learning at Gloucester Abbey in the Twelfth and Thirteenth Centuries', in Books and Collectors, 1200-1700: Essays presented to Andrew Watson, ed. by James P. Carley and C. G. C. Tite (London: The British Library, 1996), pp. 3-26</p>

    <p>---, Catalogue of the Manuscripts of Lincoln Cathedral Chapter Library (Woodbridge: Published on behalf of the Dean and Chapter of Worcester Cathedral by D.S. Brewer, 1989)</p>

    <p>---, England and the Twelfth-century Renaissance (Aldershot: Ashgate, 1998)</p>

    <p>---, 'Identifiable Books from the Pre-Conquest Library of Malmesbury Abbey', Anglo-Saxon England, 10 (1982), 1-19</p>

    <p>---, 'The Library of Bury St Edmunds Abbey in the Eleventh and Twelfth Centuries', Scriptorium, 47 (1972), 617-45</p>

    <p>---, Manuscripts from St. Albans Abbey, 1066-1235 (Woodbridge and Totowa, NJ: Published for the University of Tasmania by D.S. Brewer, 1982)</p>

    <p>---, 'More Manuscripts from the Scriptorium of William of Malmesbury', Scriptorium, 35 (1981), 48-53</p>

    <p>---, William of Malmesbury (Woodbridge and Wolfeboro, NH: Boydell, 1987)</p>

    <p>---, and Michael Gullick, A Descriptive Catalogue of the Medieval Manuscripts in Worcester Cathedral Library (Woodbridge: Published on behalf of the Dean and Chapter of Worcester Cathedral by Brewer, 2001)</p>

    <p>Traxel, Oliver M., Language Change, Writing and Textual Interference in Post-Conquest Old English Manuscripts: The Evidence of Cambridge, University Library, Ii. 1. 33 (Frankfurt am Main: Peter Lang, 2004)</p>

    <p>Treharne, Elaine M., 'The Bishop’s Book: Leofric’s Homiliary and Eleventh-Century Exeter', in Early Medieval Studies in Memory of Patrick Wormald, ed. by Stephen Baxter, and others (Farnham: Ashgate, 2009), pp. 521-37</p>

    <p>---, 'Producing a Library in Late Anglo-Saxon England: Exeter, 1050-1072', Review of English Studies, 54 (2003), 155-72</p>

    <p>---, 'The Production and Script of Manuscripts containing English Religious Texts in the First Half of the Twelfth Century', in Rewriting Old English in the Twelfth Century, ed. by Mary Swan and Elaine M. Treharne (Cambridge: Cambridge University Press, 2000), pp. 11-39</p>

    <p>Verfaillie-Markey, Dominique, 'Deux Inscriptions Grattées dans le Psautier d'Eadwine (Ms. Cambridge, Trinity College R. 17. 1)', Scriptorium, 39 (1985), 97-102 + plate</p>

    <p>---, 'Le Dernier Cahier du 'Psautier d'Eadwine' (MS. Cambridge, Trinity College R.17.1)', Scriptorium, 37 (1983), 245-58</p>

    <p>Wallace, David, The Cambridge History of Medieval English Literature: Writing in Britain, 1066-1547, New Cambridge History of English literature (Cambridge and New York: Cambridge University Press, 1999)</p>

    <p>Waller, K. M., 'The Library, Scriptorium and Community of Rochester Cathedral Priory c. 1080-1150' (unpublished doctoral thesis, Liverpool University, 1981)</p>

    <p>---, 'Rochester Cathedral Library: An English Book Collection Based on Norman Models', in Les Mutations Socio-culturelles au tournant des XIe-XIIe siècles : études anselmiennes (IVe session): Abbaye Notre-Dame du Bec, Le Bec-Hellouin, 11-16 juillet, 1982, ed. by Jean Pouilloux (Paris: Editions du CNRS, 1984), pp. 237-50</p>

    <p>Webber, Teresa, 'The Diffusion of Augustine's Confessions in England during the Eleventh and Twelfth Centuries', in The Cloister and the World: Essays in Medieval History in Honour of Barbara Harvey, ed. by John Blair and Brian Golding (Oxford: Clarendon, 1996), pp. 29-45</p>

    <p>---, 'Les Manuscrits de Christ Church (Canterbéry) et de Salisbury à la fin du xie Siècle', in Manuscrits et Enluminures dans le Monde Normand: Xe-XVe Siècle, ed. by Pierre Bouet and Monique Dosdat (Caen: Presses Universitaires de Caen, 1999), pp. 95-105</p>

    <p>---, 'The Patristic Content of English Book Collections in the Eleventh Century: Towards a Continental Perspective', in Of the Making of Books: Medieval Manuscripts, their Scribes and Readers: Essays presented to M.B. Parkes, ed. by Pamela Robinson and Rivkah Zim (Aldershot: Ashgate and Brookfield, VT: Scolar Press, 1997), pp. 191-205</p>

    <p>---, Scribes and Scholars at Salisbury Cathedral, c.1075-c.1125, Oxford Historical Monographs (Oxford: Oxford University Press and New York: Clarendon Press, 1992)</p>

    <p>---, 'Script and Manuscript Production at Christ Church, Canterbury, After the Norman Conquest', in Canterbury and the Norman Conquest: Churches, Saints and Scholars, 1066-1109, ed. by Richard Eales and Richard Sharpe (Rio Grande, OH: Hambledon Press, 1995), pp. 144-56</p>

    <p>---, and Andrew G. Watson, The Libraries of the Augustinian Canons, Corpus of British Medieval Library Catalogues, 6 (London: The British Library in association with the British Academy, 1998)</p>

    <p>Wilcox, Jonathan, ed., Ælfric's Prefaces, 9 (Durham: Durham Medieval Texts, 1994)</p>

    <p>Woledge, Brian, and H. P. Clive, Répertoire des Plus Anciens Textes en Prose Française: Depuis 842 jusqu'aux Premières Années du XIIIe Siècle, Publications Romanes et Françaises; 79 (Geneva: Droz, 1964)</p>

    <p>Woledge, Brian, and Ian Short, 'Provisional List of 12th-Century Manuscripts Containing French', Romania, 102 (1981), 1-17</p>
</div>