<div id="context-introContainer">
    <h1>Introduction</h1>
    <p>This AHRC-Project was initiated as a result of the long-standing research of Mary Swan and Elaine Treharne, in
        the late 1980s and 1990s: Mary Swan had completed a PhD at the University of Leeds on 'Ælfric as Source: The
        Exploitation of Ælfric's Catholic Homilies from the Late Tenth to Twelfth Centuries' (unpub. PhD dissertation,
        University of Leeds, 1993) and Elaine Treharne had completed a doctorate at the University of Manchester on
        'Cambridge, Corpus Christi College 303 and The Lives of Saints Margaret, Nicholas and Giles' (unpub. PhD
        dissertation, University of Manchester, 1992). Both these dissertations, in their very different ways,
        highlighted late eleventh- and twelfth-century vernacular manuscript production. They also illustrated, through
        the kind of detailed work one can do during a PhD, how much research remained to be done on many of these books
        and texts. From this work emerged a number of conference papers and sessions devoted to post-Conquest English
        literature, and it quickly became clear that this period of literary production as a whole was little known,
        little valued, and little researched. Yet, scholars such as Susan Irvine, Tony Hunt, Roy M. Liuzza, Arthur S.
        Napier, Richard Morris and Mary P. Richards had already made major contributions to the field, and had opened up
        numerous questions through their work. We felt that there was a great deal of research to do simply to begin to
        understand what constituted the corpus of English literary production from c. 1060 to c. 1220, and to begin to
        engage with key questions of the intentions of compilers and writers, their methods of production, and the
        reception of English texts by users in the century-and-a-half after the Norman Conquest.</p>
</div>