<p id="originsContainer">
    <h1>Cultural Contexts of English Manuscripts 1060 to 1220</h1>
    <h2>Intellectual Origins</h2>
    <p>In 2000, Swan and Treharne edited what they believe to be a foundational volume in post-Conquest literary
        studies, Rewriting Old English in the Twelfth Century (CambridgeUP). This was published as part of the Cambridge
        Studies in Anglo-Saxon England series, ostensibly narrowing its immediate audience to one traditionally
        pigeonholed as pre-1100. The inclusion of the book in this series might thus be considered a landmark: that the
        twelfth century and beyond belonged as much to Anglo-Saxonists as it might to later medievalists; that this
        strangely unclaimed territory could be seen less as an empty literary space, and more as one that clearly
        exemplifies both continuity and innovation.</p>

    <p>The questions raised by the scholars who contributed to Rewriting Old English are as valid and important now as
        they were ten years ago. English in the twelfth century is multi-faceted, varied in form and content, and in a
        dynamic relationship with Latin and French, visible in the pages of manuscripts produced in a number of
        scriptoria. Work on both Latin and French has increased exponentially in the last decade too, and research and
        publications in these fields have greatly enhanced our apprehension of the multilingual context of post-Conquest
        literary production.</p>

    <p><a href="Post-Conquest.pdf">Here</a>, you can download the PDF of Mary Swan, 'Post-conquest Old English
        Literature', The Literary Encyclopedia, First published 08 May 2003
        [http://www.litencyc.com/php/stopics.php?rec=true&UID=1278]. Thanks to the editors
        of The Literary Encyclopedia for their permission to produce this article here.</p>

    <p>This article, published in 2003, indicates our understanding of the field before the start of the AHRC-Project.
        At that stage, our estimate of the number of post-Conquest manuscripts containing Old English was based
        principally on Ker's major manuscripts, described in his Catalogue of Manuscripts Containing Anglo-Saxon
        (Oxford: Oxford University Press, 1957; repr. 1991); our total number of manuscripts at the close of the Project
        is over 200, including those which feature only glosses to the large and extensive homiliaries produced
        throughout the post-Conquest period.</p>

    <p><a href="Rewriting.pdf">Here</a>, you can download the PDF of the full Introduction to Rewriting Old English in
        the Twelfth Century, ed. Mary Swan and Elaine Treharne (Cambridge: Cambridge University Press, 2000). We are
        grateful to CUP for their permission to reprint this article</p>

    <h3>Research background</h3>

    <p>Preliminary work completed prior to 2000, when the Project was first conceived, demonstrated that there was an
urgent need for a coordinated and sustained project to identify not only all the manuscripts compiled between 1060 and
1220, but also their place of origin, their contents, and the potential agenda behind their compilation. The English
material that survives had been studied piecemeal, as a postscript to Old English or as a precursor to Middle English
textual and linguistic culture, or for its idiosyncractic dialectal evidence.</p>

    <p>In disciplinary terms, there was relatively abundant work on social history; work on ecclesiastical history had
tended to focus on Latin materials principally, and some Anglo-Norman material. Cultural, linguistic, and literary
history all merited much more detailed examination. The traditional boundaries of periodisation and disciplinarity had
limited (and still does limit) scholarship in this important field. Interdisciplinary research into English manuscript
production from 1060 to 1220 seemed to us then, and seems to us now, exceptionally timely.</p>

    <p>The project aimed to examine cultural continuities and transformations; evaluate what is known and what is not
known; and expand our understanding of the material. This is vital for the ongoing work of medievalists in general, and
for literary and manuscript historians in particular.</p>

    <h3>Research questions</h3>

    <p>The Project sought to establish the corpus, demonstrate its validity within English literary culture, and
        illustrate its implications for a wholesale reinterpretation of textual production in the post-Conquest period.
        It has addressed fundamental research questions about vernacular textual culture and the strategic use of
        written English in a period that saw both continuity and innovation from pre- to post-Conquest England and
        thence, from c. 1220 into the later medieval period. The Project is a reflection of a pressing need for a
        wide-ranging study that investigates manuscripts and texts in English, situated within the wider cultural
        context, to examine the relationship between languages, language usage, and regional and national production
        of English.</p>

    <p>Our principal research questions:
        <ul>
            <li>The Corpus: What material was produced in English from 1060 to 1220, and how does this relate to texts in
                other languages copied in the period?</li>
            <li>Place and Date: Where and when was this material produced? Issues to be addressed here will include an
                identification of all known scriptoria; an identification of all scriptoria known to have produced texts in
                English; an assessment of how accurately we can date the relevant manuscripts; the ascertaining of who the
                scribes were (professional, amateur, monastic, other religious, secular); and an analysis of whether, how
                far, and for how long scribes and manuscripts might have travelled between scriptoria.</li>
            <li>Agenda: Is there an identifiable programme of copying in English, or is it, in comparison to the copying of
                Latin and Anglo-Norman texts, a marginal activity? Who approved of, and paid for, the copying of texts in
                English? What resources were given over to this activity?</li>
            <li>Use and Audience: Who had access to manuscripts, and how accessible were manuscript repositories? Who, in
                general, are the different types of religious materials aimed at, and at whom, specifically, are English
                religious texts (the bulk of English texts that survive) directed?</li>
        </ul>
    </p>
</div>