.map { 
   position: relative; 
   width: 80%; /* for IE 6 */
}
.NorthEast { 
   position: absolute; 
   top: 15%; 
   left: 50%; 
   width: 100%; 
}
.Yorkshire { 
   position: absolute; 
   top: 30%; 
   left: 52%; 
   width: 100%; 
}
.WestMidlands { 
   position: absolute; 
   top: 55%; 
   left: 46%; 
   width: 100%; 
}
.EastMidlands { 
   position: absolute; 
   top: 48%; 
   left: 62%; 
   width: 100%; 
}
.SouthWest { 
   position: absolute; 
   top: 80%; 
   left: 32%; 
   width: 100%; 
}
.SouthEast { 
   position: absolute; 
   top: 75%; 
   left: 64%; 
   width: 100%; 
}
.London { 
   position: absolute; 
   top: 70%; 
   left: 73%; 
   width: 100%; 
}
.EastEngland { 
   position: absolute; 
   top: 58%; 
   left: 77%; 
   width: 100%; 
}
 